{{#>body }}
    <h1>Vista de Productos</h1>
    {{#each products}}
        <div class="container">
            <p>Nombre: {{this.title}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Id: {{this.id}}</p>
        </div>
    {{/each}}
{{/body}}