{{#>body }}
  <h1>Crear Producto</h1>
    {{#each products}}
        <div class="container">
            <p>Nombre: {{this.title}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Id: {{this.id}}</p>
        </div>
    {{/each}}

    <div class="container">

        <form action="/realtimeproducts" method="POST">

            <div>
                <label for="title" class="form-label">Nombre</label>
                <input type="text" id="Title" name="title" class="form-control" required/>
            </div>

            <div>
                <label for="price" class="form-label">Precio</label>
                <input type="text" id="Price" name="price" class="form-control" required/>
            </div>

        
            <button id="btn" type="submit">Crear Producto</button>

        </form>

    </div>

    <form action="/realtimeproducts?_method=DELETE" method="POST" >
        <div class="container">
            <label for="id" class="form-label">ID de Producto a eliminar</label>
            <input type="text" id="id" name="id" class="form-control" required/>
            <button id="btn-eliminar" type="submit">Eliminar Producto</button>
        </div>
</form>

{{/body}}